@tailwind base;
@tailwind components;
@tailwind utilities;

:root .prose {
  --tw-prose-body: hsla(var(--p));
  --tw-prose-headings: hsl(var(--p));
  --tw-prose-lead: hsl(var(--p));
  --tw-prose-links: hsl(var(--p));
  --tw-prose-bold: hsl(var(--p));
  --tw-prose-counters: hsl(var(--p));
  --tw-prose-bullets: hsla(var(--p) / 0.5);
  --tw-prose-hr: hsla(var(--p) / 0.2);
  --tw-prose-quotes: hsl(var(--p));
  --tw-prose-quote-borders: hsla(var(--p) / 0.2);
  --tw-prose-captions: hsla(var(--p) / 0.5);
  --tw-prose-code: hsl(var(--p));
  --tw-prose-pre-code: hsl(var(--nc));
  --tw-prose-pre-bg: hsl(var(--n));
  --tw-prose-th-borders: hsla(var(--p) / 0.5);
  --tw-prose-td-borders: hsla(var(--p) / 0.2);
}

@layer base {
  html,
  body,
  div#__next {
    @apply w-full h-full overflow-x-hidden;
  }
  body {
    @apply h-full max-w-full prose prose-headings:m-0 prose-p:m-0 prose-a:no-underline prose-img:m-0;
  }
  main {
    @apply relative w-full h-full;
  }
  nav,
  section,
  aside {
    @apply max-w-[1550px] px-5 mx-auto md:px-10 lg:px-20;
  }
  section {
    @apply flex flex-col w-full h-auto py-10 gap-14 lg:gap-24;
  }
  .text-stroke {
    -webkit-text-stroke: 1px #2e2e2e;
    text-stroke: 1px #2e2e2e;
  }
  .text-stroke-1 {
    -webkit-text-stroke: 2px #2e2e2e;
    text-stroke: 2px #2e2e2e;
  }
  .prose h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  .prose h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  .prose h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  .prose h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  .prose p {
    @apply text-sm md:text-base;
  }
}

@layer utilities {
  .blue-link-l-r {
    @apply relative after:absolute after:w-0 after:h-1 after:bg-accent after:-bottom-2 after:left-0 hover:after:w-full after:duration-200 after:ease-in-out hover:cursor-pointer;
  }
}

@layer components {
  div.slider {
    @apply w-full h-auto overflow-hidden bg-transparent shadow-md;
  }
  ul.slide-track {
    @apply flex w-[calc(250px_*_5)] gap-10 h-40 ml-[25vw] md:ml-[50vw] animate-slideLeft md:h-60 md:w-[calc(500px_*_3.5)] md:animate-[slideLeft_10s_linear_infinite];
  }
  li.slide {
    @apply w-auto h-full;
  }
}

.floatingIcons {
  position: absolute;
}
.floatingIcons:nth-child(1) {
  top: -20px;
  left: -20px;
}
.floatingIcons:nth-child(2) {
  top: 40px;
  right: -60px;
}
.floatingIcons:nth-child(3) {
  bottom: 40px;
  left: -60px;
}
.floatingIcons:nth-child(4) {
  bottom: -40px;
  right: -60px;
}

div.two-blue :nth-child(2) {
  @apply text-accent;
}
div.two-blue :nth-child(3) {
  @apply text-accent;
}

div.two-blue li:nth-child(2) {
  @apply !text-primary;
}
